# required packages
setuptools==69.5.1
wheel==0.43.0
build==1.2.1
rst2html5==2.0.1
numpy==1.26.4
scipy==1.13.0
ipython==8.24.0
numexpr==2.10.0
matplotlib==3.8.4
xhtml2pdf==0.2.15
Sphinx==7.3.7
tables==3.9.2
urwid==2.6.11
spectrum==0.8.1
SQLAlchemy==2.0.29
PyYAML==6.0.1
ephem==4.1.5
IDLSave==1.0.0
ipdb==0.13.13
jsonschema==4.21.1
memory-profiler==0.61.0
simplejson==3.19.2
joblib==1.4.0
lmfit==1.3.1
mpmath==1.3.0
camb==1.5.4 --config-settings="--global-option='build_cluster'"
pyFFTW @ git+https://github.com/jsalort/pyFFTW@b61c8be64e3c48b483558106e17fe76087134a32
h5py==3.11.0
pandas==2.2.2
astropy==6.0.1
healpy==1.16.6
jupyter==1.0.0
pytest==8.2.0
astroquery==0.4.7
snakemake==8.11.1
jplephem==2.22
scikit-image==0.23.2
dvc[ssh]==3.50.1
pypatch==1.0.1
photutils==1.12.0
ducc0==0.34.0
lenspyx==2.0.5
pymaster==2.0
julia==0.6.2
tensorflow==2.16.1
scikit-learn==1.5.0
jax[cpu]==0.4.26
jaxopt==0.8.3
xgboost==2.0.3
black==24.4.2
